.box {
  height: 20px;
  width: 20px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: grey;
  cursor: pointer;
}

.box.change-lang {
  bottom: 50px;
  background-color: darkslategray;
}

.theme-dark {
  --backgroud: rgb(34, 38, 49);
  --fontColor: white;
}

.theme-light {
  --backgroud: #fcf4f4;
  --fontColor: #211d1d;
}
